.widgets {
    position: sticky;
    top: 80px;
    flex: 0.2;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    height: fit-content;
    padding-bottom: 10px;
    
}

.widgets__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.widgets__header > h2 {
    font-size: 16px;
    font-weight: 400;
}

.widgets__article {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.widgets__article:hover {
    background-color: rgb(107, 84, 84);
}

.widgets__articleLeft {
    color: #0177b7;
    margin-right: 5px;
}

.widgets__articleLeft > .MuiSvgIcon-root {
    font-size: 15px;
}


.widgets__articleRight {
    flex: 1;
}

.widgets__articleRight > h4 {
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.widgets__articleRight > p {
    font-size: 12px;
    color: gray;
}